body {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    height: 100vh;
    margin: 0;
    background-color: rgb(58, 58, 58);
    color: white;
}

header {
    font-size: 8vmin;
    font-style: italic;
    text-shadow: rgb(185, 139, 12) .3vmin .2vmin;
}

h2 {
    font-size: 2.5vmin;
    letter-spacing: 2vmin;
    text-shadow: rgb(185, 139, 12) .15vmin .1vmin;
}

a {
    color: white;
    text-decoration: none;
    transition: color 100ms ease;
}

a:hover {
    color:rgb(185, 139, 12);
    transition: color 100ms ease;
}

h3 {
    font-size: 3vmin;
    font-style: italic;
    letter-spacing: 2vmin;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 19vmin);
    grid-template-rows: repeat(3, 19vmin);
    margin-top: 5vmin;
    margin-bottom: 4vmin;
}

/* v board outlines v */
.top {
    border-bottom: .3vmin solid white;
}

.middle {
    border-left: .3vmin solid white;
    border-right: .3vmin solid white;
}

.bottom {
    border-top: .3vmin solid white;
}
/* ^ board outlines ^ */

#board > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cousine', monospace;
    text-align: center;
    font-size: 10vmin;
    background: none;
    transition: background 100ms ease;
}

#board > div:hover {
    background-color: rgba(255, 255, 255, .1);
    transition: background-color 100ms ease;
}

button {
    color: white;
    border: none;
    background: none;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 2vmin;
    letter-spacing: 2vmin;
    padding: 1vmin;
    transition: background 500ms ease, color 100ms ease;
}

button:hover {
    color: rgb(185, 139, 12);
    background-color: rgba(255, 255, 255, .1);
    transition: background-color 200ms ease, color 100ms ease;
}